:root {
    --darkBlack: #131921;
    --lightBlack: #232F3E;
    --alert-sucess: #6FCF97;
    --text-body: #1D2F42;
    --secondary: #1d2f42;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
    padding: 0;
    position: relative;
    color: #1D2F42 !important;
    font-size: 13px;
    line-height: 15.47px;
    background-color: #f2f2f2 !important;
}

a {
    text-decoration: none !important;
    color: #131921 !important;
}

li {
    list-style-type: none;
}

.wrapper {
    align-items: stretch;
    background: #222e3c;
    display: flex;
    width: 100%;
}

.fade {
    transition: opacity .15s linear !important;
}

.close {
    transition: opacity .15s ease-in-out !important;
    opacity: .7 !important;
}

.navbar-expand-lg.navbar {
    background: white;
}

.header {
    background-color: #f2f2f2 !important;
}