@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --darkBlack: #131921;
    --lightBlack: #232F3E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {}