.input-group-overlay {
    position: relative;
    width: auto;
}

.resp-height {
    padding: 0.75rem 1rem !important;
}

.input-group-overlay input.form-control {
    padding: 10px 85px 10px 20px !important;
    background: #f2f2f2;
    border: 2px solid #f2f2f2;
    transition: none!important;
    box-shadow: none!important;
}

.input-group-overlay ::placeholder {
    font-size: 13px;
    color: #cfcfcf !important;
}

.input-group-overlay textarea:focus,
input:focus {
    border: 2px solid #1d2f42 !important;
    background-color: #fff !important;
}

.input-group-overlay .appended-form-control:not(.rounded-right-0) {
    padding-right: 2.5rem;
    border-top-right-radius: 0.3125rem!important;
    border-bottom-right-radius: 0.3125rem!important;
}

.input-group-overlay div.input-group-prepend-overlay {
    right: 0;
    top: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-group-overlay div.input-group-prepend-overlay {
    display: flex;
    align-items: center;
    position: absolute;
    background: #1d2f42;
    color: white;
    height: 100%;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.625rem 1rem;
    margin-bottom: 0;
    font-size: .84375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b566b;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #dae1e7;
    border-radius: 0.3125rem;
}

.input-group-overlay div.input-group-prepend-overlay span.input-group-text {
    color: white;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.rightsidebar .icon {
    margin-right: 5px !important;
    width: 20px;
    text-align: center;
}

.cart-counter {
    left: 10px;
}

.cart-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f20c0c;
    color: #fff;
    z-index: 10;
    position: absolute;
    top: 0;
    padding: 0 4px;
    min-width: 18px;
    height: 19px;
    border: 2px solid white;
    border-radius: 22px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.topbar-link span.text {
    font-weight: 500;
    font-size: 13px;
    white-space: nowrap;
    color: #1D2F42 !important;
    text-decoration: none;
}

.topbar-link span.icon {
    color: #1D2F42 !important;
    font-size: 18px;
}

.rightsidebar ul li {
    list-style: none;
    padding: 0 12px;
    appearance: none;
}


/* Dropdown Select Country */

.rightsidebar .select-country {
    position: relative;
    display: inline-block;
}

.rightsidebar .select-country img {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
}

.rightsidebar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 7px;
}

.rightsidebar .select-country:hover .dropdown-content {
    display: block;
    background-color: #f9f9f9;
}