.alert-banner-1 {
    color: var(--text-body) !important;
    background-color: var(--alert-sucess);
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0 15px;
    line-height: 1.2;
    font-size: 14px;
}

.alert-banner-1 .close {
    border: 0;
    background: transparent;
    mix-blend-mode: multiply;
    position: static;
    padding: 0.75rem 1.25rem;
}

.alert-banner-1 .meta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.alert-banner-1 .meta>img {
    height: 50px;
    padding-top: 5px;
}

.alert-banner-1 .meta .mx-4 .font-weight-semibold {
    font-weight: 500;
}

.alert-banner-1 .btn {
    border-color: var(--text-body);
    font-weight: 500;
    line-height: normal;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: 35px;
    line-height: inherit;
    transition: none;
    color: var(--text-body) !important;
}

.alert-banner-1 .btn>div {
    min-width: 15px;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #1c2f42 !important;
    border-color: #1c2f42 !important;
}